* {
    background-color: #222;
    color: white;
}

section {

    display: inline-block;
}

.caixageral {
    border-radius: 10px;
    margin: 3em;
    padding: 3em;
    border: solid 1px black;
    display: flex;
    box-shadow: 3px 3px 2px black;
    transition: 2s;
}
.caixageral:hover{
    transform: scale(1.2);
}

.formulario,
.cx_itens {
    flex: 1;
}

.cx_itens {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.tarefas {
   display: flex;
    flex-wrap: nowrap ;
    animation: aparecer 1s linear;
}

@keyframes aparecer {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.caixinha {
    border-radius: 10px;
    margin: 2px;
    color: #222;
    background-color: white;
    position: absolute;
    width: 200px;
    max-width: 200px;
    z-index: 9999; 
}
#list {
    display: flex;
    flex-direction: column;
        
}
#list:hover{
    font-weight: bold 100;

}
.check {
    margin-left: auto;
    align-self: flex-end;
}

button{
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    transition: 0.5;
}

button:hover{
    transform: scale(1.2);
    box-shadow: 3px 3px 7px black;
}